*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e3a8a,#9333ea);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.card{

background:rgba(255,255,255,.12);
backdrop-filter:blur(18px);
padding:45px;
border-radius:25px;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,.3);
width:400px;

}

h1{

color:white;
margin-bottom:30px;
font-size:32px;

}

.circle{

height:170px;
width:170px;
margin:auto;
border-radius:50%;
background:white;
display:flex;
justify-content:center;
align-items:center;
font-size:55px;
font-weight:bold;
color:#6d28d9;
box-shadow:0 10px 30px rgba(0,0,0,.25);
margin-bottom:30px;

}

.buttons{

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;

}

button{

border:none;
padding:15px 25px;
font-size:20px;
border-radius:12px;
cursor:pointer;
transition:.3s;

}

.plus{

background:#22c55e;
color:white;

}

.plus:hover{

transform:translateY(-5px);

}

.minus{

background:#ef4444;
color:white;

}

.minus:hover{

transform:translateY(-5px);

}

.reset{

background:#3b82f6;
color:white;

}

.reset:hover{

transform:translateY(-5px);

}